// 右侧文章标题导航栏
a.sidebar-link {
  font-size: 16px !important;
}

// 左侧边栏标题字体大小样式
.sidebar-heading span {
  font-size: 1.2em;
  font-weight: bold;

}

.sidebar-heading.open span {
  font-weight: bold;
}


// 左侧边栏展开文章的字体大小
a.sidebar-link.active {
  color: #070808 !important;
  font-size: 14px !important;
  background: #c3d4b742 !important;
}

.sidebar-sub-headers a.sidebar-link {
  margin: 0 1rem 0 1rem !important;
}

// 分组的透明度修改，未生效
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 0.5;
}

// 去除左上角标题，作者，标签等
.page .page-title {
  display: none;
}


blockquote {
  border-left: 4px solid #42b983 !important;
  padding: 10px 15px !important;
  color: #777 !important;
  background-color: rgba(66, 185, 131, .1) !important;
  font-size: 1rem !important;
  padding-left: 1rem !important;
  border-radius 5px !important
}
body {
  font-family: 'Ubuntu', 'Source Sans Pro', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
  line-height: 1.25;
  font-family: 'Fira Code', 'Roboto Mono', monospace !important;
}

.home-blog .hero .hero-img {
  border-radius 50%
}

