// 蓝色主题色
// 默认值
$accentColor = #3eaf7c                      // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色

.dark .content__default code {
  background-color: rgba(58,58,92,0.7);
  color: #fff;
}
body {
  font-size 18px !important;
}
